/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* CSS HEX */
:root{
	--ivory: #f4f9e9ff;
	--blue-sapphire: #19647eff;
	--verdigris: #28afb0ff;
	--rosewood: #550c18ff;
	--dark-purple: #1e152aff;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
	color: var(--ivory);
}
body{
	background-color: var(--dark-purple);
	display: flex;
	flex-direction: column;
    align-items: center;
}
header{
	display:flex;
	align-items: center;
	justify-content: space-between;
	width: 1000px;
	
}
header img{
	margin: 2% 0;
	max-width: 100%;
}
header nav{
	margin: 2% 0;
}
header a{
	font-size: 30px;
	text-decoration: none;
	margin-left: 1.5rem;
	background-color: var(--blue-sapphire);
	padding: 12px;
	border-radius: 15px;
	border: 2px var(--ivory) solid
}

.sections{
	margin: 1%;
	display: flex;
	align-items: center;
	border: 3px var(--rosewood) solid;
	background-color: var(--blue-sapphire);
	width: 1000px;

}
.sections img{
	max-width: 90%;
	height: auto;
	margin: 2%;
	object-fit: contain;
}
.sections div{
	margin: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 15px;
}
.sections a{
	margin-top: 4%;
	font-size: 300%;
	text-decoration: none;
	background-color:var(--verdigris);
}
@media only screen and (max-width: 1030px) {
	header{
		width:100%;
	}
	.sections{
		width:100%;
	}
	.sections div{
		font-size: 1.9vw;
	}
	.sections img{
		max-width: 60%;
	}
}
@media only screen and (max-width: 766px) {
	header{
		flex-direction: column;
	}
	.sections{
		flex-direction: column;
	}
	.sections div{
		font-size: 2.5vw;
	}
	#reverseOrder{
		flex-direction: column-reverse;
	}
}
@media only screen and (max-width: 561px) {
	header nav{
		display: flex;
		flex-direction: column;
	}
	header a{
		margin-left: 0;
		text-align: center;
		width: 100vw;
		font-size: 8vw;
	}
	.sections div{
		font-size: 3.5vw;
	}
}